body #carousel figure img{
    display: none;
    margin: 0px auto;
}
body #carousel figure figcaption{
    display: none;
}

body #carousel .visible img{
    display: block;
    position: relative;
    overflow: hidden;
}

body #carousel .visible figcaption{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}


